// Widescreens
@include mediaXl {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

// Desktops & Laptops
@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Tablets & Small Laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url("../img/portrait_small.jpg");
      width: 150px;
      height: 150px;
    }
  }

  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "skill"
      "edu"
      "job";

    grid-template-columns: 1fr;
    .skill {
      & > div {
        grid-template-columns: 1fr 1fr;
      }
    }
    .edu {
      & > div {
        grid-template-areas: "edu-text";
        grid-template-columns: 1fr;
        .edu-image {
          display: none;
        }
        .edu-name {
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  // Movie Hourse
  main#movie-house {
    padding: 4rem 0.5rem 0 0.5rem;
  }
  .image {
    border: darken($primary-color, 30) 7px solid;
  }
  .center {
    width: 100%;
  }
  .auth-container {
    .auth-image {
      width: 80%;
    }
  }
  .db {
    grid-template-areas:
      "db-intro db-intro"
      "db-image2 db-image1";
  }
  .detail {
    grid-template-areas:
      "dt-intro dt-intro dt-intro"
      "dt-image1 dt-image2 dt-image3";
    .dt-image1 {
      width: 95%;
    }
    .dt-image2 {
      width: 65%;
    }
    .dt-image3 {
      width: 65%;
    }
  }
  .search {
    .image-container {
      img {
        width: 45%;
      }
    }
  }
}

// Smartphones
@include mediaSm {
  main {
    padding: 2rem;
    #home h1 {
      margin-top: 10vh;
    }

    .lg-heading {
      margin-top: 1rem;
      font-size: 5rem;
    }
  }

  .projects {
    grid-template-columns: 1fr;
  }

  // Movie Hourse
  .auth-container {
    .auth-image {
      margin-top: 0.5rem;
      width: 80%;
      img {
        width: 100%;
      }
    }
  }
  .db {
    grid-template-areas:
      "db-intro db-intro"
      "db-image2 db-image2"
      "db-image1 db-image1";
    grid-gap: 0.5rem;

    .db-image1 {
      width: 100%;
    }
    .db-image2 {
      width: 100%;
    }
  }
  .detail {
    grid-template-areas:
      "dt-intro dt-intro dt-intro"
      "dt-image1 dt-image1 dt-image1"
      "dt-image3 dt-image3 dt-image3"
      "dt-image2 dt-image2 dt-image2";
    grid-gap: 0.5rem;

    .dt-image1 {
      width: 100%;
    }
    .dt-image2 {
      width: 100%;
    }
    .dt-image3 {
      width: 100%;
    }
  }
  .search {
    .image-container {
      flex-direction: column;
      align-items: center;
      img {
        width: 100%;
        margin-top: 0.5rem;
      }
    }
  }
}
